
<div class="modal-header">
    <h4 class="modal-title pull-left">{{recipe.name}}</h4>
    <span (click)="liked=!liked"><i class="far fa-heart" *ngIf="!liked"></i><i class="fas fa-heart" *ngIf="liked"></i></span>
</div>
<div class="modal-body">
  <div>
    <input type="checkbox" [(ngModel)]="allChecked" (change)="onChange()"><span class="font-weight-bold"> all</span>
  </div>
    
  <div *ngFor="let ingredient of ingredients">
    <input type="checkbox" [(ngModel)]="ingredient.isChecked" (change)="count(ingredient.isChecked)">
    {{ingredient.name}}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">close</button>
</div>