
<div class="modal-header">
    <h4 class="modal-title pull-left">{{recipe.name}}</h4>
    <span (click)="liked=!liked"><i class="far fa-heart" *ngIf="!liked"></i><i class="fas fa-heart" *ngIf="liked"></i></span>
</div>
<div class="modal-body">
  <div *ngFor="let ingredient of recipe.ingredients" class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="{{ingredient.name}}">
    <label class="custom-control-label" for="{{ingredient.name}}">{{ingredient.name}}</label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>